body {
    color: $fg;
    background-color: $bg;
}

a {
    color: $bright-blue;

    &:hover {
        color: $bright-magenta;
    }

    &.-nostyle {
        color: inherit;
        text-decoration: none;
    }

    &.-lite {
        color: $fg;
        text-decoration: underline;
    }
}

::selection {
    color: $bg;
    background-color: $fg;
}
