{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}{{ art.title }} by {{ art.artist.username }}{% endblock %}

{% block og %}
<meta property="og:image" content="{% url 'core:art_thumb' art.pk %}" />
{% endblock %}

{% block path %}
<ul class="nav-bar">
    <li><a href="{% url 'core:index' %}" >home</a></li>
    <li><a href="{% url 'core:arts' %}" >art</a></li>
    <li>{{ art.pk }}</li>
</ul>
{% endblock %}

{% block content %}
<pre
    class="art {% if art.nsfw %}-blur{% endif %}"
    data-nsfw="{% if art.nsfw %}true{% else %}false{% endif %}">{{ art.text }}</pre>

{% include "core/includes/art_header.html" with art=art %}

{% if art.description %}
<div>{{ art.description | linebreaks }}</div>
{% endif %}

{% if comments %}
{% for comment in comments %}
<p>{{ comment.author.username }}</p>
<div>{{ comment.text }}</div>
<br />
{% endfor %}

{% include "core/includes/pagination.html" %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Comment" />
</form>

{% if request.user == art.artist %}
<p><a href="{% url 'core:edit_art' art.pk %}">Edit</a></p>
{% endif %}
{% endblock %}

{% block js %}
{% if request.user.is_authenticated %}
<script src="{% static 'core/js/like_art.js' %}"></script>
{% if request.user != art.artist %}
<script src="{% static 'core/js/follow_user.js' %}"></script>
{% endif %}
{% endif %}
{% endblock %}
