{% extends "core/extendables/base.html" %}

{% block title %}{{ art.title }} by {{ art.artist.username }}{% endblock %}

{% block path %}
<li><a href="{% url 'core:index' %}" >home</a></li>
<li><a href="{% url 'core:arts' %}" >art</a></li>
<li>{{ art.pk }}</li>
{% endblock %}

{% block content %}
<h2>{{ art.title }}</h2>
<pre>{{ art.text }}</pre>

{% if art.description %}
<div>{{ art.description }}</div>
{% endif %}

{% if comments %}
{% for comment in comments %}
<p>{{ comment.author.username }}</p>
<div>{{ comment.text }}</div>
<br />
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Comment" />
</form>

{% if request.user == art.artist %}
<p><a href="{% url 'core:edit' art.pk %}">Edit</a></p>
{% endif %}
{% endblock %}
