{% extends "core/extendables/base.html" %}

{% load static %}
{% load compress %}

{% block title %}Delete art{% endblock %}

{% block path %}
<ul class="monospaced nav-bar -final">
    <li><a href="{% url 'core:index' %}" >home</a></li>
    <li><a href="{% url 'core:arts' %}" >art</a></li>
    <li><a href="{% url 'core:art' art.pk %}" >{{ art.pk }}</a></li>
    <li><a href="{% url 'core:delete_art' art.pk %}" >delete</a></li>
</ul>
{% endblock %}

{% block content %}
<form class="post-comment" method="post">
    {% csrf_token %}

    <div class="form-group">
        <p>Are you sure you want to delete {{ art.title }}?</p>
        <div class="form-input" >
            {% include "core/includes/error_box.html" with errors=form.non_field_errors %}
            <div class="submit-input" >
                <input
                    type="submit"
                    class="button-input"
                    value="Delete">
            </div>
        </div>
    </div>
</form>
{% endblock %}
