{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}Art Gallery{% endblock %}

{% block path %}
<ul class="nav-bar -input">
    <li><a href="{% url 'core:index' %}">home</a></li>
    <li><a href="{% url 'core:arts' %}">art</a></li>
    <li>
        <div class="page-select">
            <button>-></button>
            <div class="pages">
                <a href="{% url 'core:post_art' %}">post</a>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block content %}
{% if arts %}
{% include "core/includes/art_thumbs.html" with arts=arts %}
{% endif %}
{% endblock %}
