{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}Art Gallery{% endblock %}

{% block path %}
<ul class="nav-bar">
    <li><a href="{% url 'core:index' %}" >home</a></li>
    <li>art</li>
</ul>
{% endblock %}

{% block content %}
{% if arts %}
{% for art in arts %}
{% include "core/includes/art_thumb.html" with art=art %}
{% endfor %}

{% include "core/includes/pagination.html" %}
{% endif %}
{% endblock %}

{% block js %}
{% if request.user.is_authenticated %}
<script src="{% static 'core/js/like_art.js' %}"></script>
{% endif %}
{% endblock %}
