{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block path %}
<ul class="monospaced nav-bar -input">
    <li><a href="{% url 'core:index' %}">home</a></li>
    <li>
        <div class="page-select">
            <button>-></button>
            <div class="pages">
                <a href="{% url 'core:arts' %}">art</a>
                <a href="{% url 'core:users' %}">user</a>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
{% if arts %}
{% include "core/includes/art_thumbs.html" with arts=arts %}
{% else %}
{% if request.user.following.count > 0 %}
<p>Start following artists to see their latest work on your timeline!</p>
{% else %}
<p>Follow more artists and see their latest work on your timeline!</p>
{% endif %}
{% endif %}
{% else %}

<pre class="art">
                __       __
     ^      ,d88  \   e88  `  888 888
    d8b     8888     d888   \ 888 888
   /Y88b    `Y88b    8888     888 888
  /  Y88b    `Y88b,  8888     888 888
 /____Y88b     Y888  Y888   / 888 888
/      Y88b \__88P'   "88__.  888 888
  ╔═══╦════╦═══╗╔═══╦═╗╔═╦═══╦═══╗
  ║░══╣░╔╗ ║░╔╗╚╣░══╣░║║ ║░══╣░╔╗╚╗
  ║░╔═╣░╚╝ ║░╔═╗║░══╣░╚╝╔╣░══╣░╔═╗║
  ╚═╝ ╚════╩═╝ ╚╩═══╩═══╝╚═══╩═╝ ╚╝
</pre>

<p>Welcome to ASCII Forever! How about checking the <a href="{% url 'core:arts' %}">latest art</a>, or maybe <a href="{% url 'core:join' %}">sign up</a> to start posting your own. Do watch your step as everything is still in-development.</p>

{% endif %}
{% endblock %}
