{% extends "core/extendables/base.html" %}

{% block title %}Home{% endblock %}

{% block path %}
<li class="final-dir">home</li>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
{% if arts %}
{% for art in arts %}
{% include "core/includes/art_thumb.html" with art=art %}
{% endfor %}

{% include "core/includes/pagination.html" %}
{% else %}
{% if request.user.following.count > 0 %}
<p>Start following artists to see their latest work on your timeline!</p>
{% else %}
<p>Follow more artists and see their latest work on your timeline!</p>
{% endif %}
{% endif %}
{% else %}
<p>Welcome to ASCII World!</p>
{% endif %}
{% endblock %}
