{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}Settings{% endblock %}

{% block path %}
<ul class="nav-bar -input">
    <li><a href="{% url 'core:index' %}">home</a></li>
    <li><a href="{% url 'core:users' %}">user</a></li>
    <li><a href="{% url 'core:user' user.username %}">{{ user.username }}</a></li>
    <li><a href="{% url 'core:settings' user.username %}">settings</a></li>
    <li>
        <div class="page-select">
            <button>-></button>
            <div class="pages">
                <a href="{% url 'core:profile_settings' user.username %}">profile</a>
                <a href="{% url 'core:preferences' user.username %}">preferences</a>
            </div>
        </div>
    </li>

</ul>
{% endblock %}
