{% extends "core/extendables/base.html" %}
{% block title %}User List{% endblock %}

{% block path %}
<ul class="monospaced nav-bar">
    <li><a href="{% url 'core:index' %}">home</a></li>
    <li><a href="{% url 'core:users' %}"><h1>user</h1></a></li>
</ul>
{% endblock %}

{% block content %}
{% if users %}
<ul>
    {% for user in users %}
    <li><a class="-lite" href="{% url 'core:user' user.username %}">{{ user.username }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% include "core/includes/pagination.html" %}
{% endblock %}
