{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block path %}
<li><a href="{% url 'core:index' %}" >home</a></li>
<li><a href="{% url 'core:users' %}" >users</a></li>
<li>{{ user.username }}</li>
{% endblock %}

{% block content %}
<p>{{ user.username }}</p>

{% if request.user.is_authenticated and request.user != user %}
{% if user not in request.user.following.all %}
<span id="follow-button" class="follow">Follow</span>
{% else %}
<span id="follow-button" class="unfollow">Unfollow</span>
{% endif %}
{% endif %}

{% endblock %}

{% block js %}
{% if request.user.is_authenticated and request.user != user %}
<script src="{% static 'core/js/get_cookie.js' %}"></script>
<script>
{% include "core/js/follow_user.js" %}
</script>
{% endif %}
{% endblock %}
