{% extends "core/extendables/base.html" %}

{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block path %}
<ul class="monospaced nav-bar {% if request.user != user %}-final{% else %}-input{% endif %}">
    <li><a href="{% url 'core:index' %}" >home</a></li>
    <li><a href="{% url 'core:users' %}" >user</a></li>
    <li><a href="{% url 'core:user' user.username %}" >{{ user.username }}</a></li>
    {% if request.user == user %}
    <li>
        <div class="page-select">
            <button>-></button>
            <div class="pages">
                <a href="{% url 'core:settings' user.username %}">settings</a>
            </div>
        </div>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="user-spotlight">
    <div>
        <pre class="monospaced">{{ user.avatar }}</pre>
    </div>
    <div class="info">
        <div class="byline">
            <span>{{ user.username }}</span>
            {% if request.user != user %}
            {% include "core/includes/follow_user.html" with target=user %}
            {% else %}
            <a class="inline-button" href="{% url 'core:profile_settings' user.username %}">Edit profile</a>
            {% endif %}
        </div>
        {% if user.description %}
        <div>
            {{ user.description|linebreaks }}
        </div>
        {% endif %}
    </div>
</div>

{% if arts %}
<div class="art-thumbs">
    {% for art in arts %}
    <div
        class="user-art-thumb"
        data-nsfw="{% if art.nsfw %}true{% else %}false{% endif %}">

        {% if art.nsfw %}
        <div class="nsfw-actions">
            <span>NSFW content</span>
            <button class="nsfw-show inline-button">Show</button>
        </div>
        {% endif %}

        <div class="art {% if art.nsfw %}hide{% endif %}">
            <a class="-nostyle" href="{% url 'core:art' art.pk %}">
                <pre class="monospaced">{{ art.native_thumb }}</pre>
            </a>
        </div>

        <div class="user-art-header">
            <span>
                <a class="-nostyle" href="{% url 'core:art' art.pk %}">
                    <h2>{{ art.title }}</h2>
                </a>
            </span>

            <span
                class="like-actions"
                data-id="{{ art.pk }}">
                <span class="like-tally">{{ art.likes.count }}</span>
                {% if not request.user.is_authenticated %}
                <span class="like-button -like">
                    <a class="-nostyle" href="{% url 'core:join' %}">♡</a>
                </span>
                {% elif request.user not in art.likes.all %}
                <span
                    class="like-button -like"
                    data-like="true">♡</span>
                {% else %}
                <span
                    class="like-button -unlike"
                    data-like="false">♥</span>
                {% endif %}
            </span>
        </div>

        {% if art.description_preview %}
        <p>{{ art.description_preview }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% include "core/includes/pagination.html" %}

{% endif %}
{% endblock %}
