{% extends "core/extendables/base.html" %}

{% load static %}
{% load compress %}

{% block content %}
<form class="art-form preserve-whitespace" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label>Title</label>
        <div class="form-input">
            {% include "core/includes/error_box.html" with errors=form.title.errors %}
            <input
                class="line-input -fullwidth"
                type="text"
                name="title"
                maxlength="80"
                {% if form.title.value %}value="{{ form.title.value }}"{% endif %}
                autofocus
                required>
        </div>
    </div>

    <div class="form-group">
        <label>Text art</label>
        <div class="form-input">
            {% include "core/includes/error_box.html" with errors=form.markup.errors %}
            <textarea
                class="multiline-input -fullwidth -resize monospaced dot-prepend"
                name="text"
                spellcheck="false"
                rows="24"
                required>{% if form.text.value %}{{ form.text.value|safe }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label>Thumbnail offsets</label>
        <div class="form-input">
            {% include "core/includes/error_box.html" with errors=form.thumb_x_offset.errors %}
            {% include "core/includes/error_box.html" with errors=form.thumb_y_offset.errors %}
            <div class="thumbnail-input-group" >
                <div class="top">
                    <div class="offset-input-group -x">
                        <div>
                            <button id="x-offset-inc" class="button-input" type="button" ><</button>
                        </div>
                        <div>
                            <input
                                class="monospaced x-offset-number-input"
                                type="number"
                                name="thumb_x_offset"
                                value="{% if form.thumb_x_offset.value %}{{ form.thumb_x_offset.value }}{% else %}0{% endif %}"
                                required>
                        </div>
                        <div>
                            <button id="x-offset-dec" class="button-input" type="button" >></button>
                        </div>
                    </div>
                </div>

                <div class="left">
                    <div class="offset-input-group -y">
                        <div>
                            <button id="y-offset-inc" class="button-input" type="button" >^</button>
                        </div>
                        <div>
                            <input
                                class="monospaced y-offset-number-input"
                                type="number"
                                name="thumb_y_offset"
                                value="{% if form.thumb_y_offset.value %}{{ form.thumb_y_offset.value }}{% else %}0{% endif %}"
                                required>
                        </div>
                        <div>
                            <button id="y-offset-dec" class="button-input" type="button" >v</button>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <pre class="monospaced thumb-preview"></pre>
                </div>

                <div class="right">
                    <span class="char-count -y"><- 19 rows -></span>
                </div>
                <div class="bottom">
                    <span class="char-count -x"><- 80 columns -></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div class="form-input">
            {% include "core/includes/error_box.html" with errors=form.description.errors %}
            <div class="prose-input -fullwidth">
                <textarea
                    name="description"
                    rows="1">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>NSFW</label>
        <div class="form-input">
            {% include "core/includes/error_box.html" with errors=form.nsfw.errors %}
            <input
                id="nsfw"
                type="checkbox"
                name="nsfw"
                {% if form.nsfw.value %}checked{% endif %}>
        </div>
    </div>

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    <div class="form-group">
        <div class="form-input" >
            {% include "core/includes/error_box.html" with errors=form.non_field_errors %}
            <div class="submit-input" >
                <input
                    type="submit"
                    class="button-input"
                    value="{% block submit_value %}{% endblock %}">
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block js %}
{% compress js %}
<script type="text/javascript" src="{% static 'core/js/art_form.js' %}"></script>
{% endcompress %}
{% endblock %}
