{% extends "core/extendables/base.html" %}

{% load static %}

{% block content %}
<form class="preserve-whitespace" method="post">
    {% csrf_token %}

    <p class="no-js-warn">JavaScript is disabled or something went wrong, so some functionality will not work.</p>

    <div class="form-group">
        <label>Title</label>
        <div class="form-input">
            <input
                class="line-input"
                type="text"
                name="title"
                maxlength="80"
                {% if form.title.value %} value="{{ form.title.value }}"{% endif %}
                required>
        </div>
    </div>

    <div class="form-group">
        <label>Text art</label>
        <div class="form-input">
            <textarea
                class="multiline-input art-input"
                name="text"
                spellcheck="false"
                rows="24"
                required>{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label>Thumbnail offsets</label>
        <div class="form-input">
            <div class="thumbnail-input-group" >
                <div class="top">
                    <div class="offset-input-group -x">
                        <div>
                            <button id="x-offset-inc" class="button-input" type="button" ><</button>
                        </div>
                        <div>
                            <input
                                class="number-input x-offset-number-input"
                                type="number"
                                name="thumb_x_offset"
                                value="{% if form.thumb_x_offset.value %}{{ form.thumb_x_offset.value }}{% else %}0{% endif %}"
                                required>
                        </div>
                        <div>
                            <button id="x-offset-dec" class="button-input" type="button" >></button>
                        </div>
                    </div>
                </div>

                <div class="left">
                    <div class="offset-input-group -y">
                        <div>
                            <button id="y-offset-inc" class="button-input" type="button" >^</button>
                        </div>
                        <div>
                            <input
                                class="number-input y-offset-number-input"
                                type="number"
                                name="thumb_y_offset"
                                value="{% if form.thumb_y_offset.value %}{{ form.thumb_y_offset.value }}{% else %}0{% endif %}"
                                required>
                        </div>
                        <div>
                            <button id="y-offset-dec" class="button-input" type="button" >v</button>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <pre class="thumb-preview"></pre>
                </div>

                <div class="right">
                    <span class="thumb-char-count -y"><- 19 rows -></span>
                </div>
                <div class="bottom">
                    <span class="thumb-char-count -x"><- 80 columns -></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <div class="form-input">
                <textarea
                    class="multiline-input text-input"
                    name="description"
                    rows="1">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label>NSFW</label>
            <div class="form-input">
                <input
                    id="nsfw"
                    type="checkbox"
                    name="nsfw"
                    {% if form.nsfw.value %}checked{% endif %}>
            </div>
        </div>

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        <div class="form-group">
            <div class="form-input -submit" >
                <input
                    type="submit"
                    class="button-input"
                    value="{% block submit_value %}{% endblock %}">
            </div>
        </div>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'core/js/art_form.js' %}"></script>
{% endblock %}
