{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'core/favicon.ico' %}"/>

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/style.scss' %}" />
        {% endcompress %}

        {% block og %}
        <meta property="og:title" content="ASCII Forever" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.asciiforever.net{{ request.path }}" />
        <meta property="og:image" content="https://www.asciiforever.net{% static 'core/default_thumb.png' %}" />
        <meta property="og:description" content="Platform for sharing ASCII/text art" />

        <meta name="twitter:card" content="summary_large_image">
        {% endblock %}
    </head>
    <body>
        <main>
            <header>
                <nav>
                    {% block path %}{% endblock %}
                </nav>
                <ul class="user-actions">
                    {% if request.user.is_authenticated %}
                    <li>Hello <a class="-lite" href="{% url 'core:user' request.user.username %}">{{ request.user.username }}</a>!</li>
                    <li><a href="{% url 'core:sign_out' %}">Sign out</a></li>
                    <li><a href="{% url 'core:post_art' %}">Post art</a></li>
                    {% else %}
                    <li><a href="{% url 'core:sign_in' %}">Sign in</a></li>
                    <li><a href="{% url 'core:join' %}">Join</a></li>
                    {% endif %}
                </ul>
            </header>
            <section class="content">
                <noscript><p><i>Your JavaScript is disabled so some site functionality will not work!</i></p></noscript>
                {% block content %}{% endblock %}
            </section>
            <footer>
                Made with <span class="heart">♥</span> by <a href="http://matthewbarber.io/">Honno</a>.
            </footer>
        </main>

        {% compress js %}
        <script type="text/javascript" src="{% static 'core/js/js.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/autosize.js' %}"></script>

        <script type="text/javascript" src="{% static 'core/js/censor_nsfw.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/like_art.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/follow_user.js' %}"></script>

        <script type="text/javascript" src="{% static 'core/js/art_form.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/comment.js' %}"></script>
        {% endcompress %}
    </body>
</html>
