.button-input {
    @extend .monospaced;

    display: inline-block;
    padding: 0.25em 0.5em;

    text-align: center;

    background-color: $fg;
    color: $bg;

    cursor: default;

    &:hover {
        background-color: $yellow;
        color: $bg;
    }

    &.-selected, &.-selected:hover {
        background-color: $black;
        color: $fg;
    }

    &.-inverse {
        background-color: transparent;
        color: $fg;
    }

    &.-inverse:hover {
        color: $yellow;
    }
}

.inline-button {
    @extend .monospaced;

    display: inline;
    padding: 0.25em 0.5em;

    font-size: $art-font-size-small;
    text-align: center;

    color: $fg;
    border: 1px solid $fg;

    cursor: default;

    &:hover {
        color: $yellow;
        border-color: $yellow;
    }

    &.-negative:hover {
        color: $red;
        border-color: $red;
    }
}

a.button-input, a.inline-button {
    text-decoration: transparent;
}
