.user-spotlight {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1em;

    .info > * {
        @include inbetween-margin(1em);
    }

    .byline {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.user-art-thumb {
    .art {
        margin-bottom: 1em;
    }
}

.user-art-header {
    display: flex;
    justify-content: space-between;
}
