@import "helpers";
@import "variables";

/* text art */

.art-input {
    @extend .monospaced;
}

/* thumbnail */

.thumbnail-input-group {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;

    grid-gap: 0.5em;
}

.x-offset-input-group-outer {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.x-offset-input-group-inner {
    display: inline-grid;
    grid-template-columns: auto auto auto;

    grid-gap: 1em;

    & > label { grid-column: 1 / -1 }
}

.x-offset-number-input {
    text-align: center;
}

.y-offset-input-group-outer {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: right;
}

.y-offset-input-group-inner {
    display: inline-grid;
    grid-template-columns: auto auto;

    grid-gap: 1em;

    & > label {
        grid-row: 1 / span 3;
        text-align: center;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
}

.y-offset-number-input {
    text-align: center;
}

.offset-input-label {
    color: $secondary;
    font-style: italic;
    font-size: 9px;

    text-align: center;
}

.offset-button-outer {
    display: flex;
    justify-content: center;
}

.thumb-preview {
    grid-column: 2;
    grid-row: 2;

    border: 1px dashed $primary;

    padding: 1em;

    font-size: 8px;
}

.y-thumb-char-count-outer {
    grid-column: 3;
    grid-row: 2;

    display: flex;
    justify-content: left;
}

.x-thumb-char-count-outer {
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: center;
}

.y-thumb-char-count-inner {
    writing-mode: vertical-lr;
    transform: -rotate(180deg);

    text-align: center;
}

.x-thumb-char-count-inner {
    text-align: center;
}

.thumb-char-count {
    color: $tertiary;

    @extend .monospaced;
    font-size: 9px;
}
