@import "base";

/* elements */

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: 400;
    line-height: $body-font-line-height;

    background-color: $white;
    color: $primary;
}

p {
    @include inbetween-margin(1em);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $blue;

    &:hover {
        color: $purple;
    }

    &.-nostyle {
        color: inherit;
        text-decoration: none;
    }

    &.-lite {
        color: $secondary;
        text-decoration: underline;
    }
}

/* base layout */

ul.nav-bar {
    > li {
        display: inline-block;
    }

    > li:after {
        content: " / ";
        color: $tertiary;
    }

    &.-final > li:last-child:after {
        content: "";
    }
}

ul.user-actions {
    @include media("<tablet") {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @include media(">=tablet") {
        > li {
            display: inline-block;
        }

        > li:after {
            content: " | ";
            color: $tertiary;
        }

        > li:last-child:after {
            content: "";
        }
    }
}

.heart {
    color: $red;
}

/* common */

.art {
    @extend .monospaced;

    &.-blur {
        color: transparent;
        text-shadow: 0 0 2em $primary;
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;

    > a {
        @extend .-nostyle;
        @extend .button-input;
    }

    > a.-active {
        @extend .button-input, .-selected;
    }
}

.art-thumbs > * {
    @include inbetween-margin(1em);

    &:not(:last-child)::after  {
        display: block;
        margin-top: 1em;

        @extend .monospaced;

        content: "---";
        color: $tertiary;
    }
}

.art-thumb > * {
    @include inbetween-margin(1em);
}

.follow-button {
    font-size: 9px;

    @extend .button-input;

    border: 1px solid transparent;

    cursor: pointer;

    &.-unfollow {
        color: $secondary;
        background-color: $white;
        border-color: $secondary;
    }

    &.-unfollow:hover {
        color: $red;
        background-color: $white;
        border-color: $red;
    }
}

// art header

.art-header {
    display: grid;
    grid-template-columns: auto min-content;

    > .left {
        grid-column: 1;
    }

    > .-top {
        grid-row: 1;
    }

    > .bottom {
        grid-row: 2;
    }

    > .right {
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}

h2 {
    font-size: $body-font-size;
}

.user-actions {
    > .follow-button {
        margin-left: 0.5em;
    }
}

.like-actions {
    width: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > span {
        text-align: center;
    }

    > .like-tally {
        @extend .monospaced;
    }

    > .like-button {
        cursor: pointer;
    }

    > .like-button.-like {
        color: $secondary;
    }

    > .like-button.-unlike {
        color: $red;
    }
}


/* forms */

.form-group {
    width: 100%;
    @include inbetween-margin(1em);

    > * {
        @include inbetween-margin(1em);
    }

    > label {
        color: $secondary;
        font-weight: bold;
    }

    > .form-input {
        padding: 0 1em;
    }

    > .form-input > * {
        @include inbetween-margin(1em);
    }

    > .form-input > .error-box {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-gap: 1em;

        border: $red solid 1px;

        padding: 1em;
    }
}

.submit-input {
    display: flex;
    justify-content: right;
}

.line-input {
    display: inline-block;
    width: 20em;
    padding: 2px;
    box-sizing: border-box;

    border-bottom: 1px solid $secondary;

    &:focus {
        border-bottom-color: $highlight;
    }

    &.-fullwidth {
        width: 100%;
    }
}

.multiline-input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;

    outline: none;

    border: 1px solid $secondary;
    border-radius: 6px;

    &:focus {
        border-color: $highlight;
    }

}

.prose-input {
    @extend .multiline-input;
    overflow: auto;

    > textarea {
        border: none;
        outline: none;
        resize: none;
    }
}


.number-input {
    @extend .monospaced;
}

.button-input {
    @extend .monospaced;

    padding: 0.25em 0.5em;

    background-color: $secondary;
    color: $white;

    text-align: center;

    &:hover {
        background-color: $highlight;
    }

    &.-selected {
        background-color: $white;
        color: $secondary;
    }

    &.-selected:hover {
        background-color: $white;
    }
}

.art-input {
    @extend .monospaced;
}

// thumbnail

.thumbnail-input-group {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;

    grid-gap: 1em;

    > .top, > .right, > .bottom, > .left {
        display: flex;
    }

    > .top {
        grid-column: 2;
        grid-row: 1;

        justify-content: center;
        align-items: flex-end;
    }

    > .right {
        grid-column: 3;
        grid-row: 2;

        justify-content: left;
        align-items: center;
    }

    > .bottom {
        grid-column: 2;
        grid-row: 3;

        justify-content: center;
        align-items: flex-start;
    }

    > .left {
        grid-column: 1;
        grid-row: 2;

        justify-content: right;
        align-items: center;
    }

    > .center {
        grid-column: 2;
        grid-row: 2;
    }
}

.offset-input-group {
    display: flex;

    &.-x {
        flex-direction: row;
    }

    &.-y {
        flex-direction: column;
        gap: 0.5em;
    }

    &.-y > div {
        display: flex;
        justify-content: center;
    }

    > div > input[type=number] {
        width: 2em;
        text-align: center;
    }
}

.thumb-preview {
    grid-column: 2;
    grid-row: 2;

    padding: 0.75em;
    border: 1px dashed $primary;

    font-size: 0.75em;
}

.thumb-char-count {
    color: $tertiary;

    @extend .monospaced;
    font-size: 9px;

    text-align: center;

    &.-y {
        writing-mode: vertical-lr;
        transform: -rotate(180deg);
    }
}
