@mixin inbetween-margin($margin) {
    margin-bottom: $margin;
    &:last-child { margin-bottom: 0 }
}

@mixin inbetween-content($content, $color: $tertiary) {
    &:before {
        content: $content;
        color: $color;
    }
    &:first-child:before { content: "" }
}

.monospaced {
    font-family: $art-font-family;
    white-space: pre;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.25;
}
