$primary: #212121;
$secondary: #444444;
$tertiary: #7e7e7e;
$highlight: orange;

$white: #ffffff;
$blue: #0000ff;
$purple: #8000ff;
$red: #ff0000;

$body-font-family: "Roboto", "Verdana", sans-serif;
$art-font-family: "Source Code Pro", "Courier New", monospace;
