@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import "include-media";
@import "reset";
@import "form-reset";

@import "variables";
@import "helpers";
@import "art-form";

/* sections */

body {
    font-family: $body-font-family;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

    background-color: $white;
    color: $primary;
}

main {
    @include media(">=tablet") {
        width: 100%;
    }

    @include media(">=tablet") {
        width: 600px;
    }
}

header, footer {
    padding: 1em;
}

section {
    padding: 0 1em;
}

/* elements */

pre {
    @extend .monospaced;
}

.blur {
    color: transparent;
    text-shadow: 0 0 24px $primary;
}

p {
    @include inbetween-margin(1em);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:active, a:hover, a:visited {
    color: $blue;
}

a:active, a:hover {
    color: $purple;
}

a.nostyle {
    color: inherit;
    text-decoration: none;
}

/* header styles */

header {
    @include media(">=tablet") {
        display: flex;
        justify-content: space-between;
    }
}


ul#nav {
    li {
        display: inline-block;

        @include inbetween-content(" / ");
        &.final-dir:after { content: " / " }
    }
}

ul#account {
    @include media(">=tablet") {
        li {
            display: inline-block;

            @include inbetween-content(" | ");
        }
    }
}

/* footer styles */

#heart {
    color: $red;
}

/* componenents */

ul.pagination {
    @include media(">=tablet") {
        width: 100%;
        text-align: center;

        li {
            display: inline-block;

            @include inbetween-content("\00a0\00a0");
        }
    }

    li {
        a {
            text-decoration: none;
        }
    }
}

/* forms */


.line-input {
    display: inline-block;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;

    border-bottom: 1px solid $tertiary;
}

.line-input:focus {
    border-bottom-color: $highlight;
}

.multiline-input {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;

    outline: none;

    border: 1px solid $tertiary;
    border-radius: 6px;
}

.multiline-input:focus {
    border-color: $highlight;
}

.text-input {
    /* resize: none; */
}

.form-group {
    width: 100%;
    @include inbetween-margin(1em);
}

.form-input {
    padding: 1em;
}

.number-input {
    @extend .monospaced;
}

.label {
    color: $secondary;
    font-weight: bold;
}

.sub-label {
    color: $secondary;
}

.button {
    @extend .monospaced;

    padding: 0.25em 0.5em;

    background-color: $tertiary;
    color: $white;
}

.button:hover {
    background-color: $highlight;
}

.submit-input-outer {
    display: flex;
    justify-content: right;
}
