@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import "include-media";
@import "reset";

$white: #ffffff;
$primary: #212121;
$secondary: #444444;
$tertiary: #7e7e7e;
$blue: #0000ff;
$purple: #8000ff;
$red: #ff0000;

$body-font-family: "Roboto", "Verdana", sans-serif;
$art-font-family: "Source Code Pro", "Courier New", monospace;

body {
    font-family: $body-font-family;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

    background-color: $white;
    color: $primary;
}

main {
    @include media(">=tablet") {
        width: 100%;
    }

    @include media(">=tablet") {
        width: 600px;
    }
}

pre {
    font-family: $art-font-family;
    white-space: pre;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.blur {
    color: transparent;
    text-shadow: 0 0 24px $primary;
}

p {
    margin-bottom: 1em;
    &:last-child { margin-bottom: 0 }
}

header, footer {
    padding: 1em;
}

section {
    padding: 0 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:active, a:hover, a:visited {
    color: $blue;
}

a:active, a:hover {
    color: $purple;
}

a.nostyle {
    color: inherit;
    text-decoration: none;
}

@mixin inbetween-content($content, $color: $tertiary) {
    &:before {
        content: $content;
        color: $color;
    }
    &:first-child:before { content: "" }
}

/* header styles */

header {
    @include media(">=tablet") {
        display: flex;
        justify-content: space-between;
    }
}


ul#nav {
    li {
        display: inline-block;

        @include inbetween-content(" / ");
        &.final-dir:after { content: " / " }
    }
}

ul#account {
    @include media(">=tablet") {
        li {
            display: inline-block;

            @include inbetween-content(" | ");
        }
    }
}

/* footer styles */

#heart {
    color: $red;
}

/* componenents */

ul.pagination {
    @include media(">=tablet") {
        width: 100%;
        text-align: center;

        li {
            display: inline-block;

            @include inbetween-content("\00a0\00a0");
        }
    }

    li {
        a {
            text-decoration: none;
        }
    }
}

