/* colours */

// based on ibm3270

$fg: #FDFDFD;
$bg: #000000;

$black: #222222;
$bright-black: #888888;
$red: #f01818;
$bright-red: #ef8383;
$green: #24d830;
$bright-green: #7ed684;
$yellow: #f0d824;
$bright-yellow: #efe28b;
$blue: #7890f0;
$bright-blue: #b3bfef;
$magenta: #f078d8;
$bright-magenta: #efb3e3;
$cyan: #54e4e4;
$bright-cyan: #9ce2e2;
$white: #a5a5a5;
$bright-white: #ffffff;

/* fonts */

$body-font-family: "Roboto", "Verdana", sans-serif;
$body-font-size: 12px;
$body-font-line-height: 1.5;

$art-font-family: "Source Code Pro", "Courier New", monospace;
$art-font-size: 12px;
$art-font-line-height: 1.25; // based on the gnome terminal

$body-font-size-small: 9px;
$art-font-size-small: 9px;
