ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// h1 tags are just used for SEO
h1 {
    font: inherit;
    display: inline;
}


// color resets

input, textarea {
    background-color: transparent;
    color: $fg;
}
