input,
label,
select,
button {
	  margin: 0;
	  border: 0;
	  padding: 0;
	  display: inline-block;
	  vertical-align: middle;
	  white-space: normal;
	  background: none;
	  line-height: 1;

    // browsers have different default form fonts
    font-size: $body-font-size;
    font-family: $body-font-family;
}

// remove the outer glow in webkit
input:focus {
	  outline: 0;
}

/* box sizing reset */

// all of our custom controls should be what we expect them to be
input,
textarea {
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
}

// these elements are usually rendered a certain way by the browser
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

/* search input */

// make webkit render the search input like a normal text field
input[type=search] {
	  -webkit-appearance: textfield;
	  -webkit-box-sizing: content-box;
}

// turn off the recent search for webkit. it adds about 15px padding on the left
::-webkit-search-decoration {
	  display: none;
}

/* buttons */

// fix IE7 display bug
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
	  overflow: visible;
	  width: auto;
}

// IE8 and FF freak out if this rule is within another selector
::-webkit-file-upload-button {
	  padding: 0;
	  border: 0;
	  background: none;
}

/* textarea */

textarea {
	  vertical-align: top; // move the label to the top
	  overflow: auto; // turn off scroll bars in IE unless needed
}

/* selects */

select[multiple] {
	  /* move the label to the top */
	  vertical-align: top;
}

/* numbers */

// chrome, safari, edge, opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// firefox
input[type=number] {
    -moz-appearance: textfield;
}
