<div class="art-thumbs">
    {% for art in arts %}
    <div
        class="art-thumb"
        data-pk="{{ art.pk }}"
        data-nsfw="{% if art.nsfw %}true{% else %}false{% endif %}">

        {% if art.nsfw %}
        <div class="nsfw-actions">
            <span>NSFW content</span>
            <button class="nsfw-show inline-button">Show</button>
        </div>
        {% endif %}

        <div class="art {% if art.nsfw %}hide{% endif %}">
            <a class="-nostyle" href="{% url 'core:art' art.pk %}">
                <pre class="monospaced">{{ art.native_thumb|safe }}</pre>
            </a>
        </div>

        {% include "core/includes/art_header.html" with art=art %}

        {% if art.description_preview %}
        <p>{{ art.description_preview }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% include "core/includes/pagination.html" %}
