{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'core/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul id="nav">{% block path %}{% endblock %}</ul>
                </nav>
                <ul id="account" >
                {% if request.user.is_authenticated %}
                    <li>Hello <a class="nostyle" href="{% url 'core:user' request.user.username %}">{{ request.user.username }}</a>!</li>
                    <li><a href="{% url 'core:sign_out' %}">Sign out</a></li>
                    <li><a href="{% url 'core:add' %}">Add art</a></li>
                {% else %}
                    <li><a href="{% url 'core:sign_in' %}">Sign in</a></li>
                    <li><a href="{% url 'core:join' %}">Join</a></li>
                {% endif %}
                </ul>
            </header>
            <section>{% block content %}{% endblock %}</section>
            <footer>
                Made with <span id="heart">♥</span> by <a href="http://matthewbarber.io/">Honno</a>.
            </footer>
        </main>
    </body>
</html>
