{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'foo/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% sass_src 'foo/style.scss' %}" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% block path %}{% endblock %}
        </nav>
        <section>{% block content %}{% endblock %}</section>
        <footer>
            Made with <3 by <a href="http://matthewbarber.io/">Honno</a>.
        <footer>
    </body>
</html>
