{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'foo/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'foo/style.css' %}" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul id="nav">{% block path %}{% endblock %}</ul>
                </nav>
                <ul id="account" >
                    <li><a href="{% url 'foo:signin' %}">Sign in</a></li>
                    <li><a href="{% url 'foo:join' %}">Join</a></li>
                </ul>
            </header>
            <section>{% block content %}{% endblock %}</section>
            <footer>
                Made with <3 by <a href="http://matthewbarber.io/">Honno</a>.
            </footer>
        </main>
    </body>
</html>
